* {
    font-family: "Comic Mono", sans-serif;
    border: none;
}

window#waybar {
    background-color: rgba(251, 251, 252, 0.05);

    border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #ffffff;
}


/* Common sizing for all modules */
#custom-launcher, 
#workspaces button, 
#bluetooth, 
#network, 
#pulseaudio, 
#clock, 
#custom-menu,
#custom-power {
    min-width: 30px;
    margin: 12px 0;
    padding: 0;
}
#custom-menu { 
    color: #89b4fa; /* A fresh mint color, or use #f38ba8 to keep the red */
  font-size: 24px;
}

/* Workspaces */
#workspaces button { font-size: 15px; color: rgba(255, 255, 255, 0.2); }
#workspaces button.active { color: #ffffff; }

/* Clock */
#clock { font-size: 20px; font-weight: 700; }

/* Bluetooth & Network */
#bluetooth { font-size: 24px; transition: all 0.3s ease; }
#bluetooth.connected { color: #007aff; }
#network { font-size: 24px; color: #34c759; }
#network.disconnected { color: rgba(255, 255, 255, 0.15); }

/* Volume Group & Slider Styling */
#pulseaudio {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

#pulseaudio-slider {
    min-height: 100px;
    margin-bottom: 10px;
}

#pulseaudio-slider trough {
    min-width: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #ff6699; /* Matches your calendar pink */
}

/* Hides the circular handle of the slider */
#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
}

/* Power Button */
#custom-power { font-size: 24px; color: #f38ba8; }

/* Tooltip Styling */
tooltip {
    background: rgba(15, 15, 20, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

tooltip label {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    padding: 10px;
}

/* Hover effects */
button:hover, #bluetooth:hover, #network:hover, #pulseaudio:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
